/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: linear-gradient(100deg, #131313, #121e4d);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "sans-serif";
}

main {
  background: url("../utils/images/Backgraund.png") no-repeat top center;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "sans-serif";
}

@media (max-width: 700px) {
  main {
    background: url("../utils/images/Backgraund.png") no-repeat center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "sans-serif";
  }
}

.hero-class,
.bg-hero-overlay {
  background: linear-gradient(100deg, #15bffd, #2a3e84),
    radial-gradient(
      90% circle at center,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0)
    );
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "sans-serif";
}

.bg-hero-gradient {
  background: linear-gradient(90deg, #9dfe00 0%, #14d9e5 100%);
}

.text-gradient {
  background: linear-gradient(to right, #9dfe00, #14d9e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glow-button {
  box-shadow: 0 0 15px #14d9e5, 0 0 30px #9dfe00;
}

.bg-gradient {
  background: linear-gradient(90deg, #9dfe00 0%, #14d9e5 100%);
}

/* Add to globals.css */
.character-card:hover {
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.border-gradient {
  border-image: linear-gradient(to right, #9dfe00, #14d9e5);
  border-image-slice: 2;
  border-width: 2px;
}

/* Hide horizontal scrollbar while allowing scroll */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
